<app-navbar></app-navbar>
<div style="padding-top: 10px">
  <div class="space">
    <div class="card border-primary">
      <h5 class="card-header  bg-primary text-white">
        
      </h5>
      <div class="card-body">
        <div class="col-sm-12 col-md-12">
          <div class="jumbotron">
            <h1 class="display-1">404</h1>
            <p class="lead">Resources not found</p>
            <hr class="my-4">
            <p>Content not available</p>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>